* {
    margin: 0;
    padding: 0;
    background-color: var(--MainColor);
    font-family: 'Noto Sans', sans-serif;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 100%;
    z-index: 1;
}

html {
    scroll-behavior: smooth;;
}

::selection {
    background-color: white;
    color: var(--MainColor)
}

:root {
    --MainColor: rgb(25, 25, 25);
    --SecondaryColor: rgb(20, 20, 20);
}

.header {
    position: sticky;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 200%;
    background-color: var(--SecondaryColor);
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    border-bottom: 0.15em rgb(255,255,255) solid;
}

.navtitle {
    font-weight: 700;
    font-size: 200%;
    flex: none;
    text-decoration: none;
    text-align: center;
    background-color: var(--SecondaryColor);
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.25s;
}

.navtitle:hover {
    color: rgb(0,234,117);
}

nav {
    background-color: var(--SecondaryColor);
    display: flex;
    text-decoration: none;
    font-size: 150%;
    position: sticky;
    float: right;
    width: 55%
}

nav a {
    background-color: var(--SecondaryColor);
    margin-left: 5%;
    /*text-decoration: none;*/
    font-weight: 700;
    text-align: left;   
    text-decoration: none;
    position: relative;
    transition: 0.25s;
}

nav a::before {
    content: "";
    position: absolute;
    display: block;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 6%;
    background: rgb(0, 255, 123);
    border-radius: 100px;
    transform: scaleX(0);
    transition: transform 0.25s ease;
}

nav a:hover::before {
    transform: scaleX(1);
}

nav a:hover {
    color:rgb(0, 255, 123);
}

/* Main Content */

.home {
    top: 0;
    display: relative;  
}

.home-text {
    background-color: rgb(30,30,30,0.5);
}

.title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(30,30,30,0.5);

    font-size: 250%;
    font-weight: 700;
    font-size:250%;
    padding: 1% 6%;
}

.home-msg {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(30,30,30,0.5);

    font-size: 125%;
    font-weight: 600;
    padding: 0.5% 1%;
}

.down-btn-green {
    margin: 0;
    transition: opacity 0.25s, visibility 0.25s;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}

.down-btn-green:hover {
    opacity: 1;
    visibility: visible;
}

.down-btn {
    z-index: 1;
}

.next-section {
    display: relative;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(30,30,30,0);
}

h3 {
    font-weight: 600;
    font-size: 225%;
    margin-bottom: 1.5%;
}

h4 {
    font-weight: 500;
    font-size: 120%;
    margin-top: 1%;
    margin-bottom: 1%;
}

p {
    font-size: 110%;
}

.banner-img {
    margin-top: 0%;
    width: 100%;
    height: 828px; 
    object-fit: cover;
    border-top: 0.15em rgb(255,255,255) solid;
    border-bottom: 0.15em rgb(255,255,255) solid;
}

.launchsb {
    color: rgb(0, 234, 117);
}

.meetinglist {
    display: grid;
    grid: auto / 50% 50%;
    width: 40%;
    align-items: center;
    align-self: center;
    margin: 2% 30%;
}

.meetinglist div {
    margin: auto;
    text-align: center;
    list-style-type: none;
    display: relative;
    
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2.5% 1.75%;
    min-height: 15%;
    min-width: 70%;

    background-color: rgb(35, 35, 35);
    border: 1px rgb(255,255,255) solid;
    border-radius: 0.5rem;
    box-shadow: 13% rgb(0, 170, 85, 0);
    text-decoration: none;
}

.meetings, .about, .competitions, .resources, .contact {
    padding-top: 6%;
}

.meetings, .about, .competitions, .resources, .contact p {
    margin-top: 0%;
    margin-bottom: 0%;
}

.meetings, .about, .competitions, .resources, .contact a {
    color: rgb(0, 234, 117);
    transition: 0.4s;
}

.about {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    padding-top: 6%;
    
}

.about p {
    text-align: left;
    margin-bottom: 2%;
    font-size: 115%;
}

.abt-content {
    display: flex;
    gap: 5%;
}

.abt-content h3 {
    margin-bottom: 5%;
}

.left-abt {
    position: relative;
    width: 60%;
}

.right-abt {
    position: relative;
    width: 40%;
}

.abt-img {
    width: 100%;
    height: auto;
    border: 0.15em solid white;
}

.meetings a:hover, .about a:hover, .competitions a:hover, .resources a:hover, .contact a:hover {
    color: rgb(0, 170, 85);
    /*margin-top: 3%;
    padding-top: 6%;*/
}

.competitions {
    padding-top: 6%;
    margin-top: 3%;
    align-content: center;
}

.competition-header {
    display: grid;
    grid: auto / 50% 25% 25%;
    width: 50%;
    align-items: center;
    align-self: center;
    margin: 2% 25% 0% 25%; 
    text-align: left;
    text-decoration: underline;
    font-size: 125%;
}

.competition-list {
    display: grid;
    grid: auto / 50% 25% 25%;
    width: 50%;
    align-items: center;
    align-self: center;
    margin: 0.5% 25% 2% 25%;
    font-size: 105%;
}

.competition-list div {
    margin: auto;
    margin-top: 0.5em;

    min-width: 75%;
    background-color: rgb(35, 35, 35);
    padding: 2.5% 2.75%;
    border: 1px white solid;
    border-radius: 0.5rem;
    color: white;
    box-shadow: 13% rgb(0, 170, 85, 0.2);
    text-decoration: none;
    text-align: left;
}

.competition-list div a {
    text-decoration: none;
    color: rgb(0, 255, 123);
    background-color: rgb(35, 35, 35);
}

.footer {
    background-color: var(--SecondaryColor);
    border-top: 0.15em rgb(255,255,255) solid;
    display: relative;
    margin-top: 4%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.footertext p {
    background-color: var(--SecondaryColor);
}