* {
    margin: 0;
    padding: 0;
    background-color: var(--MainColor);
    font-family: 'Noto Sans', sans-serif;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 500;
    z-index: 1;
}

::selection {
    background-color: white;
    color: var(--MainColor)
}

:root {
    --MainColor: rgb(35, 35, 35);
    --SecondaryColor: rgb(25, 25, 25);
}

.header {
    position: static;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 200%;
    background-color: var(--SecondaryColor);
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-weight: 700;
    font-size: 200%;
    flex: none;
    text-decoration: none;
    text-align: center;
    background-color: var(--SecondaryColor);
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: var(--SecondaryColor);
    display: flex;
    text-decoration: none;
    font-size: 150%;
    position: sticky;
    float: right;
    width: 55%
}

nav a {
    background-color: var(--SecondaryColor);
    margin-left: 5%;
    /*text-decoration: none;*/
    font-weight: 700;
    text-align: left;   
    text-decoration: none;
    position: relative;
}

nav a::before {
    content: "";
    position: absolute;
    display: block;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 6%;
    background: rgb(0, 255, 123);
    border-radius: 100px;
    transform: scaleX(0);
    transition: transform 0.25s ease;
}

nav a:hover::before {
    transform: scaleX(1);
}

nav a:hover::after() {
    color:rgb(0, 255, 123);
}

/* Main Content */

h1 {
    font-weight: 700;
    font-size:250%;
    margin-top: 3%;
}

h3 {
    font-weight: 600;
    font-size: 225%;
    margin-bottom: 1.5%;
}

h4 {
    font-weight: 500;
    font-size: 120%;
    margin-top: 1%;
    margin-bottom: 1%;
}

p {
    font-size: 110%;
}

.meetings, .about, .competitions, .resources, .contact {
    padding-top: 4%;
}

.meetings, .about, .competitions, .resources, .contact p {
    margin-top: 1%;
    margin-bottom: 1%;
}

.meetings, .about, .competitions, .resources, .contact a {
    color: rgb(0, 234, 117);
    transition: 0.4s;
}

.about {
    margin-left: 20%;
    margin-right: 20%;
}

.about p {
    text-align: left;
    margin-bottom: 2%;
}

.meetings, .about, .competitions, .resources, .contact a:hover {
    color: rgb(0, 170, 85);
}

.competitions {
    align-content: center;

}

.competitions li {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    width: 20%;

    background-color: rgb(45, 45, 45);
    border: 1px rgb(255,255,255) solid;
    border-radius: 0.5rem;
    box-shadow: 13% rgb(0, 170, 85, 0);
    text-decoration: none;
    transition: 0.2s;
}

.competitions li:hover {
    background-color: rgb(45, 45, 45);
    border: 1px rgb(0,234,117) solid;
    border-radius: 0.5rem;
    color: rgb(0, 234, 117);
    box-shadow: 13% rgb(0, 170, 85, 0.2);
    text-decoration: none;
}

.competitions a {
    text-decoration: none;
}

li {
    text-align: left;
    list-style-type: none;

}

.footer {
    background-color: var(--SecondaryColor);
    display: relative;
    margin-top: 4%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.footertext p {
    background-color: var(--SecondaryColor);
}